.user-card-container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  border-radius: 10px;
  border: 1px solid white;
  /* background-color: rgb(173, 20, 87); */
  background-color: rgb(255 169 207);
}
.user-card-container-header {
  margin: 5px;
  font-size: 18px;
  border-bottom: 1px solid black;
}
.user-card-container-footer {
  margin: 5px;
  font-size: 18px;
  border-top: 1px solid black;
}
.user-card-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}
.user-card div {
  margin: 0px 5px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 1;
  position: inherit;
  pointer-events: bounding-box;
}

.product-card-container {
  width: 20%;
  min-height: 200px;
  background-color: rgb(115, 197, 190);
  padding: 5px;
  border-radius: 10px;
}

.product-card-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 5px;
  font-size: 18px;
  border-bottom: 1px solid black;
}

.product-card-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
